<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096980621816-1lo2ldh4f0stkrtimhcii1m3r9mg1i9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096980621816-1lo2ldh4f0stkrtimhcii1m3r9mg1i9u</string>
	<key>API_KEY</key>
	<string>AIzaSyDS9CdKk2t9ojTl8UhL2xHC_n3dRG2ClRg</string>
	<key>GCM_SENDER_ID</key>
	<string>1096980621816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tek4tv.NOW3</string>
	<key>PROJECT_ID</key>
	<string>nowtracking-e52fb</string>
	<key>STORAGE_BUCKET</key>
	<string>nowtracking-e52fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096980621816:ios:e154b956ff4722792dce0d</string>
	<key>DATABASE_URL</key>
	<string>https://nowtracking-e52fb-default-rtdb.firebaseio.com</string>
</dict>
</plist>